@media screen and (min-width: 1280px) and (max-width: 1600px) {
    .block_features {
        width: 90% !important;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1600px) {
  .custom-card-size {
    width: 390px !important;
    height: 350px !important;
    padding-left: 10px;
    margin-left: 8.5px;
  }

  .custom-card-size.middle {
    height: 400px !important;
  }

  .custom-carousel-width {
    max-width: 1220px !important;
  }
}

  