@media only screen and (max-width:767px) and (min-width:0px){
    .premi_um {
        width: 90%;
    }
    .premi_um{
        display: block;
        height: auto;
    }
    .premi_um p {
        height: auto;
        margin: 0 !important;
        font-size: 16px;
        width: 100%;
    }
    .premi_um img {
        margin: 0 !important;
    }
    .new_sec_blog {
        width: 90%;
        display: block;
        height: auto;
        margin: 0 auto;
    }
    .premi_um h2 {
        color: #000 !important;
        font-size: 26px;
        line-height: 36px;
    }
    .blog_main_new {
        width: 100% !important;
        height: 100% !important;
        margin-top: 30px !important;
    }
    .all_post {
        width: 90% !important;
    }
    .txt_cent {
        text-align: center;
    }
    .new_blog_flx {
        display: block;
    }
    .first_blog {
        margin-top: 37px;
    }
    .word_press {
        margin: 0 !important;
    }
    }
    @media only screen and (max-width:1024px) and (min-width:768px){
        .premi_um {
            width: 90%;
        }
        .blog_main_new div {
            width: 100% !important;
        }
        .premi_um{
            height: auto;
        }
        .premi_um p {
            height: auto;
            margin: 0 !important;
            font-size: 16px;
            width: 100%;
        }
        .premi_um img {
            margin: 0 !important;
        }
        .new_sec_blog {
            width: 90%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .premi_um h2 {
            color: #000 !important;
            font-size: 26px;
            line-height: 36px;
        }
        .blog_main_new {
            width: 48% !important;
            height: 100% !important;
            margin-top: 30px !important;
        }
        .all_post {
            width: 90% !important;
        }
        .txt_cent {
            text-align: center;
        }
        .new_blog_flx {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0;
        }
        .first_blog {
            margin-top: 37px;
        }
        .word_press {
            margin: 0 !important;
            width: 50%;
        }
        .menu_post{
            width: 50%;
        }
        .blog_main_new:nth-child(3) {
            width: 100% !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .new_ost_blo {
            width: 50% !important;
        }
        .blog_main_new:nth-child(3) div {
            width: 49% !important;
        }
        .blog_main_new:nth-child(3) .new_ost_blo {
            width: 50% !important;
        }
        span.text-\[\#157B6C\] {
            font-size: 13px;
        }
        .first_blog {
            width: 48%;
        }
        }
        @media only screen and (max-width:1280px) and (min-width:1025px){
            .premi_um {
                width: 90%;
            }
            .blog_main_new div {
                width: 100% !important;
            }
            .premi_um{
                height: auto;
            }
            .premi_um p {
                height: auto;
                margin: 0 !important;
                font-size: 16px;
                width: 100%;
            }
            .premi_um img {
                margin: 0 !important;
            }
            .new_sec_blog {
                width: 90%;
                height: auto;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .premi_um h2 {
                color: #000 !important;
                font-size: 26px;
                line-height: 36px;
            }
            .blog_main_new {
                width: 48% !important;
                height: 100% !important;
                margin-top: 30px !important;
            }
            .all_post {
                width: 90% !important;
            }
            .txt_cent {
                text-align: center;
            }
            .new_blog_flx {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 0;
            }
            .first_blog {
                margin-top: 37px;
            }
            .word_press {
                margin: 0 !important;
                width: 50%;
            }
            .menu_post{
                width: 50%;
            }
            .blog_main_new:nth-child(3) {
                width: 100% !important;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .new_ost_blo {
                width: 50% !important;
            }
            .blog_main_new:nth-child(3) div {
                width: 49% !important;
            }
            .blog_main_new:nth-child(3) .new_ost_blo {
                width: 50% !important;
            }
            span.text-\[\#157B6C\] {
                font-size: 13px;
            }
            .first_blog {
                width: 48%;
            }
            }
            @media only screen and (max-width:1700px) and (min-width:1281px){
                .premi_um {
                    width: 90% !important;
                }
                .blog_main_new div {
                    width: 100% !important;
                }
                .premi_um{
                    height: auto;
                }
                .premi_um p {
                    height: auto;
                    margin: 0 !important;
                    font-size: 16px;
                    width: 100%;
                }
                .premi_um img {
                    margin: 0 !important;
                }
                .new_sec_blog {
                    width: 90% !important;
                    height: auto;
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 0;
                }
                .premi_um h2 {
                    color: #000 !important;
                    font-size: 26px;
                    line-height: 36px;
                }
                .blog_main_new {
                    width: 32% !important;
                    height: 100% !important;
                    margin-top: 30px !important;
                }
                .all_post {
                    width: 90% !important;
                }
                .txt_cent {
                    text-align: center;
                }
                .new_blog_flx {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 0;
                }
                .first_blog {
                    margin-top: 37px;
                }
                .word_press {
                    margin: 0 !important;
                    width: 50%;
                }
                .menu_post{
                    width: 50%;
                }
                .new_ost_blo {
                    width: 50% !important;
                }
                span.text-\[\#157B6C\] {
                    font-size: 13px;
                }
                .first_blog {
                    width: 32%;
                }
                }

                @media only screen and (min-width: 1281px) and (max-width: 1700px) {

                    .first_blog {
                        width: 100% !important;
                    }
                  }