/* .ios_mainsection {
    display: inline-table;
    background: linear-gradient(to right, #FCFFEE, #DEEA99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
} */
.scrollbar-hide::-webkit-scrollbar {
  height: 4px;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #67C792;
  border-radius: 4px;
}
.scroll-container {
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  scroll-snap-type: x mandatory; /* Optional: for better snapping behavior */
}

.app_step {
  scroll-snap-align: start; /* Optional: for better snapping behavior */
}

@media only screen and (max-width:767px) and (min-width:0px){
    .new_sec_about {
        width: 100% !important;
        display: block !important;
        height: auto !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .w-1\/3.ml-15 {
        width: 100%;
        margin: 0 !important;
    }
    .new_imgg {
        width: 100% !important;
        padding: 16px;
    }
    .txxt_abou {
        width: 100% !important;
    }
    h2.text-\[\#000000\].font-Montserrat.font-bold.text-\[48px\].leading-tight.text-left.mt-\[50px\] {
        font-size: 24px;
        line-height: 34px;
    }
    p.text-gray-700.text-left.font-Montserrat.text-\[18px\].mt-\[20px\] {
        font-size: 14px;
        line-height: 24px;
    }
    }
    @media only screen and (max-width:1024px) and (min-width:768px){
        .new_sec_about {
    width: 100%;
}
.new_hed {
    font-size: 29px;
    line-height: 39px;
}
.new_col_dis.txxt_abou.w-1\/2.md\:w-1\/2.lg\:w-\[66\%\].px-6 {
    width: 100% !important;
}
.new_sec_about {
    display: block;
}
.w-full.md\:w-1\/2.lg\:w-1\/3.m-0.flex.justify-center {
    width: 100% !important;
}
.w-full.md\:w-1\/2.lg\:w-1\/3.m-0.flex.justify-center img {
    width: 100%;
    max-width: 95%;
}
    }

    @media only screen and (max-width:1281px) and (min-width:1025px){
        .new_sec_about {
    width: 100%;
}
.new_hed {
    font-size: 29px;
    line-height: 39px;
}
.new_col_dis{
    width: 100% !important;
}
.new_sec_about {
    display: flex;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
}
.w-full.md\:w-1\/2.lg\:w-1\/3.m-0.flex.justify-center {
    width: 100% !important;
}
.w-full.md\:w-1\/2.lg\:w-1\/3.m-0.flex.justify-center img {
    width: 100%;
    max-width: 95%;
}
    }
    @media only screen and (max-width:1700px) and (min-width:1281px){
        .new_sec_about {
    width: 92% !important;
}
.new_hed {
    font-size: 29px;
    line-height: 39px;
}
.new_col_dis{
    width: 100% !important;
}
.new_sec_about {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.w-full.md\:w-1\/2.lg\:w-1\/3.m-0.flex.justify-center {
    width: 100% !important;
}
.w-full.md\:w-1\/2.lg\:w-1\/3.m-0.flex.justify-center img {
    width: 100%;
    max-width: 95%;
}
    }