/* @media only screen and (max-width:767px) and (min-width:0px){
  .react_nnative {
       width: 442px !important;
    }
    .react_img {
        max-width: 379px !important;
    }
    .native_header {
        width: 92% !important;
        margin: 0 auto !important;
    }

} */
 .fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .react_nnative {
       width: 442px !important;
    }
    .react_img {
        max-width: 379px !important;
    }
    .native_header {
        width: 92% !important;
        margin: 0 auto !important;
    }
    
  
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .react_nnative {
        width: 442px !important;
     }
     .react_img {
        max-width: 379px !important;
    }
    .native_header {
        width: 92% !important;
        margin: 0 auto !important;
    }
    
     
  
  }
  
  @media only screen and (min-width: 1280px) and (max-width: 1600px) {
    .react_nnative {
        width: 410px !important;
     }
     .react_img {
        max-width: 379px !important;
    }
    .native_header {
        width: 92% !important;
        margin: 0 auto !important;
    }
    
 
  }
  