@media screen and (min-width: 1280px) and (max-width: 1600px) {
    .work_modules {
        padding-left: 140px !important;
        padding-right: 0px !important;
    }
    .sp{
        width: 1000px !important;
    }
  }

  